body * {
	box-sizing: border-box;
    margin: auto auto;
    text-align: center;
}
p, label, a {
    font-size: 1.25rem;
    padding: 15px;
}
nav {
    text-align: right;
    margin-bottom: 15px;
    padding-right: 25px;
}
.hidden {
    display: none;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}

input {
    height: 1.5rem;
    width: 150px;
    text-align: left;
    padding: 5px;
    margin: 5px auto;
}

button {
    width: 75px;
    padding: 5px;
    margin: 5px;
}

/* CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 25px;
}

/* PORTFOLIO */
.portfolio {
    text-align: justify;
}

/* ERROR MESSAGES */
.registration-form-error, .password-error, .sign-in-form-error, .transactions-error, .purchase-form-error {
    /* border: 3px dotted red; */
    color: red;
    min-height: 1.5rem;
    margin: 5px;
}

/* FORMS */
form {
    max-width: 500px;
}

/* STOCK CHANGE */
.increase {
    color: green;
}
.decrease {
    color: red;
}
.portfolio-stock-info {
    color: darkgray;
}